#Kirim {
  width: 9vw;
  height: 3vw;
  margin-top: 1vh;
  background-color: blue; /* Warna biru */
  color: white; /* Warna teks putih */
  border: none; /* Tanpa border */
  border-radius: 15px; /* Sudut membulat */
  padding: 10px 20px; /* Jarak dalam tombol */
  font-size: 16px; /* Ukuran font */
  cursor: pointer; /* Kursor saat hover */
  transition: background-color 0.3s; /* Efek transisi */
  font-family: Poppins;
  font-weight: bold;
}
p {
  margin-top: 1vh;
}
#Kirim :hover {
  background-color: darkblue; /* Warna saat hover */
}